<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{evento.NOME}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <img src="assets/1.jpg">

    <ion-card-content>
      <p>{{evento?.DESCRICAO}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>(12) Presentes</div>
      </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>({{detalhes?.length}}) Atividades</div>
      </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          Evento iniciado 11hs atrás
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>


  <ion-list>
    <ion-list-header center text-center>
      Timeline
    </ion-list-header>
    <ion-item *ngFor="let item of detalhes">

      <p>{{item.DESCRICAO}}</p>
      <ion-note class="anotacao" item-right>
        {{item.DATA | date: 'HH:mm'}}
      </ion-note>

      <ion-thumbnail item-left *ngIf="item.TIPOMIDIA == 4">
        <img style="width:120px" src="{{'assets/d'+item.IDDETALHE+'.jpg'}}">
      </ion-thumbnail>

      <ion-thumbnail item-left *ngIf="item.TIPOMIDIA == 3">
        <iframe width="120" height="120" src="https://www.youtube.com/embed/j-0fNmqFEeo" frameborder="0" allowfullscreen></iframe>
      </ion-thumbnail>



    </ion-item>

    <ion-item *ngIf="detalhes?.length == 0">
      <ion-note> Nenhum detalhe cadastrado </ion-note>
    </ion-item>


  </ion-list>
</ion-content>